@import "reset.css";
@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
.nanumsquare {
  font-family: "NanumSquare", sans-serif !important;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BBTreeGB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "KOTRA_BOLD-Bold";
  height: 100vh;
}
.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff7d4;
}
.first-line img {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
.first-line h2 {
  font-size: 30px;
}

.second-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #234e70;
}

.second-line_b {
  margin-left: 800px;
}

.second-line button {
  font-size: 15px;
  border: none;
  color: #fff7d4;
  background-color: #234e70;
  border-radius: 10px;
  font-family: "KOTRA_BOLD-Bold";
  padding: 5px;
}
.second-line button :link {
  color: #fff7d4;
}
.second-line button :visited {
  color: #fff7d4;
}
.second-line button :hover {
  border: #fff7d4 2px solid;
  border-radius: 10px;
  padding: 5px;
}
.second-line button a {
  text-decoration: none;
}
.third-line {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.third-line_title {
  margin-bottom: 25px;

  font-size: 20px;
  color: #234e70;
}
.third-line_book {
  margin-bottom: 10px;
  font-size: 30px;
}

.third-line_book_info {
  margin-top: 10px;
  opacity: 60%;
}
.third-line_book_info span {
  color: red;
}
.main-box {
  height: 100vh;
  margin-left: 250px;
  margin-right: 250px;
}

.cut-line {
  border: 5px #234e70 dotted;
  border-top: none;
}
.movie-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstimg {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.secondimg {
  width: 300px;
  height: 230px;
  margin-top: 20px;
}
.movie-info {
  margin-top: 30px;
  line-height: 25px;
  font-size: 17px;
  font-family: "BBTreeGB";
}
.movie-info-highlight {
  color: #234e70;
}
.red {
  color: red;
}
.movie-main h5 div {
  text-align: center;
}
.movie-info h5 div {
  text-align: center;
}
.movie-info-title {
  font-family: "Cafe24Oneprettynight";
  font-size: 20px;
  margin-bottom: 5px;
}
.secondimg {
  width: 30%;
  margin-right: 20px;
}
.thirdimg {
  width: 35%;
  margin-left: 310px;
  margin-bottom: 20px;
  border-radius: 10%;
  margin-top: 10px;
}
.fourthimg {
  width: 40%;
  margin-left: 300px;
  border-radius: 10%;
}
.noEnergyMary {
  width: 40%;
  margin-left: 300px;
  border-radius: 10%;
}
