@import "reset.css";
@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
.nanumsquare {
  font-family: "NanumSquare", sans-serif !important;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "KOTRA_BOLD-Bold";
}
.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fcf6f5;
  color: #990011;
}
.first-line img {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
.first-line h2 {
  font-size: 30px;
}

.second-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #990011;
}

.second-line_b {
  margin-left: 800px;
}
.second-line_a .second-line_a_btn {
  font-style: strong;
}
.second-line button {
  font-size: 15px;
  border: none;
  background-color: #990011;
  border-radius: 10px;
  font-family: "KOTRA_BOLD-Bold";
  padding: 5px;
  color: #fcf6f5;
}
.second-line button :hover {
  border: #fcf6f5 2px solid;
  border-radius: 10px;
  padding: 5px;
}
.second-line button a:link {
  color: #fcf6f5;
}

.second-line button :visited {
  color: #fcf6f5;
}
.second-line button a {
  text-decoration: none;
}
.sorry {
  display: flex;
  justify-content: center;
}
.sorry img {
  width: 80%;
  height: 700px;
}
