@import "reset.css";
@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
.nanumsquare {
  font-family: "NanumSquare", sans-serif !important;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "KOTRA_BOLD-Bold";
  height: 100vh;
}
.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fcedda;
}
.first-line img {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
.first-line h2 {
  font-size: 30px;
}

.second-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #ee4e34;
}

.second-line_b {
  margin-left: 800px;
}
.second-line_a .second-line_a_btn {
  font-style: strong;
}
.second-line button {
  font-size: 15px;
  border: none;
  background-color: #ee4e34;
  border-radius: 10px;
  font-family: "KOTRA_BOLD-Bold";
  padding: 5px;
}
.second-line button :link {
  color: #fcedda;
}
a:any-link {
  color: #fcedda;
}

.second-line button :visited {
  color: #fcedda;
}
.second-line button a {
  text-decoration: none;
}
.second-line button :hover {
  border: #fcedda 2px solid;
  border-radius: 10px;
  padding: 5px;
}
.main-box {
  margin-left: 250px;
  margin-right: 250px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-top: 20px;
}

.question {
  font-size: 22px;
  margin-bottom: 10px;
  color: black;
  opacity: 70%;
  font-family: "HangeulNuri-Bold";
}
.answer {
  border: none;
  border-bottom: 2px gray solid;
  width: 100%;
  padding-top: 10px;
  padding-right: 30px;
  font-family: "HangeulNuri-Bold";
  font-size: 22px;
  outline: none;
  color: black;
}
.answer input {
  display: flex;
  text-align: center;
}
.question:last-child {
  font-size: 18px;
}
.loginbox {
  margin-bottom: 50px;
}

input[type="@"] {
  text-align: center;
}
.submit {
  border: none;
  background-color: #fcedda;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ee4e34;
  padding: 15px 30px;
  font-family: "KOTRA_BOLD-Bold";
  font-size: 25px;
  margin-bottom: 20px;
}
.underline {
  text-decoration: underline;
}
